<!DOCTYPE html>
<html>
<head>
	<title>Games ltd: Edit Item</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
	<div class="container-fluid">
	<h1 class="display-5">Edit Form for: {{item.name}}</h1>
	<form action="{{url_for('editCategory', category_id = category_id, gameitem_id=gameitem_id)}}" method="POST">

	<p>Name:</p>
	<input type="text" size="30" name="name" placeholder="{{item.name}}">
	<input type="text" size="30" name="price" placeholder="{{item.price}}">
	<div class="btn-group" role="group" aria-label="Basic example">
	<button type="submit" class="btn btn-primary" value="Edit"> Edit</button>
	<a href='{{url_for("showCategories", category_id = item.gameitem_id)}}' class="btn btn-secondary"> Cancel</a>
	</div>
	</form>
	</div>



<!-- JavaScript Bootstrap 4-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>