<html>

<body>

<h1>{{category_id.name}}</h1>

<div>
	<a href="{{url_for('newGameItem', category_id = category_id)}}">Create New Item </a>

</div>


{% for i in items  %}

<div>

<p>{{i.name}}</p>
</br>
<p>{{i.description}}</p>
</br>
<p> {{i.price}} </p>
</br>

<a href='{{url_for('editCategory', category_id = categories.id, gameitem_id = gameitem_id) }}'>Edit</a>
</br>
<a href = '{{url_for('deleteCategory', category_id = category_id, gameitem_id = gameitem_id) }}'>Delete</a>
</div>


{% endfor %}


</body>

</html>